:root {
  --main-text-color: #ffffff;
  --complementary-color: #1a1a1a;
  --second-complementary-color: #ffffff;
  --activity-text-color: #4ea4dc;
  --main-background-color: #ffffff;
  --complementary-backgraund-color: #2f303a;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  font-family: Lato, sans-serif;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  opacity: 0.7;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  color: var(--main-text-color);
}

p {
  margin: 0;
  padding: 0;
  opacity: 0.7;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1154px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.section {
  padding-top: 128px;
  padding-bottom: 128px;
}

.header {
  position: relative;
  max-width: 1600px;
  height: 850px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(24.45%, rgba(48, 47, 79, 0.94)), color-stop(42.53%, rgba(47, 47, 79, 0.87)), color-stop(91.42%, rgba(45, 45, 77, 0.24))), url(/img/hero_background.png);
  background-image: linear-gradient(90deg, rgba(48, 47, 79, 0.94) 24.45%, rgba(47, 47, 79, 0.87) 42.53%, rgba(45, 45, 77, 0.24) 91.42%), url(/img/hero_background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  padding-top: 30px;
  height: 100%;
  background-image: url(/img/hero_area_image.png);
}

.navigation {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1134px;
}

.navigation__logo {
  margin-right: 290px;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 235px;
}

.navigation__item {
  margin-right: 40px;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navigation__link {
  font-size: 18px;
  line-height: 160%;
  text-transform: capitalize;
  -webkit-transition: opasity, 250ms;
  transition: opasity, 250ms;
}
.navigation__link:hover {
  opacity: 1;
}

.navigation__btn {
  display: block;
  cursor: pointer;
  border: none;
  padding: 14px 30px;
  background: var(--activity-text-color);
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: var(--main-text-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  text-transform: capitalize;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}
.navigation__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero__text {
  margin-top: 239px;
  color: var(--activity-text-color);
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.hero__title {
  font-weight: 800;
  font-size: 75px;
  line-height: 125%;
  text-transform: capitalize;
  max-width: 581px;
  margin-bottom: 25px;
}

.hero_descrpt-wrap {
  font-weight: bold;
  font-size: 18px;
  line-height: 160%;
  color: var(--main-text-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: capitalize;
  opacity: 1;
}

.hero__descrpt {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.6);
  max-width: 459px;
  margin-bottom: 40px;
}

.hero__btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__btn-item {
  margin-right: 24px;
}
.hero__btn-item:last-child {
  margin-right: 0;
}

.hero__btn {
  display: block;
  cursor: pointer;
  border: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  color: var(--activity-text-color);
  background-color: transparent;
  border: 1px solid rgba(78, 164, 220, 0.3);
  border-radius: 5px;
  -webkit-transition: background-color, color, 250ms;
  transition: background-color, color, 250ms;
}
.hero__btn:hover {
  background-color: var(--activity-text-color);
  color: var(--main-text-color);
}

.features {
  padding-top: 80px;
  padding-bottom: 95px;
  background-color: #3e3457;
  background-image: url(/img/background_section.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.features__title {
  width: 701px;
  text-align: center;
  font-weight: bold;
  font-size: 39px;
  line-height: 130%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.features__descrpt {
  max-width: 430px;
  text-align: center;
  line-height: 160%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__item {
  position: relative;
  top: 0;
  left: 0;
  width: 324px;
  background-color: #3c3153;
  border-radius: 10px;
  padding: 66px 48px 67px 48px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
}
.features__item:hover {
  -webkit-box-shadow: 6px 11px 36px 16px rgba(7, 5, 10, 0.3);
          box-shadow: 6px 11px 36px 16px rgba(7, 5, 10, 0.3);
}

.features__svg-wrap {
  text-align: center;
  background-color: #ecebeb;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 24px;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}
.features__item:hover .features__svg-wrap {
  background-color: var(--activity-text-color);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.features__svg {
  fill: var(--activity-text-color);
}
.features__item:hover .features__svg {
  fill: var(--main-text-color);
}

.features__about {
  text-align: center;
  margin-bottom: 15px;
  line-height: 130%;
  font-size: 20px;
}

.features__text {
  text-align: center;
  line-height: 150%;
}

.characters {
  background-color: #3e3457;
  background-image: url(/img/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -150px;
}

.characters__img-wrap {
  border-radius: 10px;
  overflow: hidden;
  width: 619px;
  position: relative;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.how-work {
  width: 439px;
  margin-left: 98px;
}

.how-work__title {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.1em;
  color: var(--activity-text-color);
  font-style: normal;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.how-work__title::after {
  content: "see";
  display: block;
  width: 36px;
  height: 15px;
  background-color: black;
  border-radius: 11.5px;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  text-align: center;
  color: var(--main-text-color);
}

.how-work__descrpt {
  font-weight: 800;
  font-size: 39px;
  line-height: 140%;
  margin-bottom: 25px;
}

.how-work__text {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 25px;
}

.how-work__subtext {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 35px;
}

.char-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

.how-work__button {
  display: block;
  cursor: pointer;
  border: none;
  padding: 15px 30px;
  background: var(--activity-text-color);
  color: var(--main-text-color);
  border-radius: 5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
}

.playing {
  background: -webkit-gradient(linear, left top, right top, from(#3B3253), to(rgba(57, 48, 80, 0)));
  background: linear-gradient(90deg, #3B3253 0%, rgba(57, 48, 80, 0) 100%);
  background: #3E3457;
}/*# sourceMappingURL=main.css.map */