.characters {
	background-color: #3e3457;
	background-image: url(/img/Rectangle.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -150px;
}
.characters__img-wrap {
	border-radius: 10px;
	overflow: hidden;
	width: 619px;
	position: relative;
}
.play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
// ========how-it-work==========

.how-work {
	width: 439px;
	margin-left: 98px;
}
.how-work__title {
	font-size: 16px;
	line-height: 130%;
	letter-spacing: 0.1em;
	color: var(--activity-text-color);
	font-style: normal;
	font-weight: normal;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.how-work__title::after {
	content: "see";
	display: block;
	width: 36px;
	height: 15px;
	background-color: black;
	border-radius: 11.5px;
	font-weight: 500;
	font-size: 10px;
	line-height: 120%;
	text-align: center;
	color: var(--main-text-color);
}
.how-work__descrpt {
	font-weight: 800;
	font-size: 39px;
	line-height: 140%;
	margin-bottom: 25px;
}
.how-work__text {
	font-size: 16px;
	line-height: 160%;
	margin-bottom: 25px;
}
.how-work__subtext {
	font-size: 16px;
	line-height: 160%;
	margin-bottom: 35px;
}
.char-wrap {
	width: 1334px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding-bottom: 100px;
}

.how-work__button {
	display: block;
	cursor: pointer;
	border: none;
	padding: 15px 30px;
	background: var(--activity-text-color);
	color: var(--main-text-color);
	border-radius: 5px;
	font-weight: normal;
	font-size: 16px;
	line-height: 160%;
}
