html {
  scroll-behavior: smooth;
}
body {
  color: var(--main-text-color);
  background-color: var(--main-background-color);

  font-family: Lato, sans-serif;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
  opacity: 0.7;
  color: inherit;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  color: var(--main-text-color);
}
p {
  margin: 0;
  padding: 0;
  opacity: 0.7;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
