:root {
  --main-text-color: #ffffff;
  --complementary-color: #1a1a1a;
  --second-complementary-color: #ffffff;
  --activity-text-color: #4ea4dc;
  --main-background-color: #ffffff;
  --complementary-backgraund-color: #2f303a;
}
